  body {
    background-color: #36a;
  }
  .mainBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textBox {
    width: 30%;
    text-align: center;
  }
  h1 {
    color: #fff;
  }
  img {
    width: 50%;
    border: 1px solid #fff;
  }